<%- include('../partials/header') %>
    <div>
        <form action="/books" method="POST">
            <label for="title">Title:<input type="text" name="title"></label><br>
            <label for="author">Author:<input type="text" name="author"></label><br>
            <label for="publishDate">Publish Date:<input type="date" name="publishDate"></label><br>
            <label for="publisher">Publisher:<input type="text" name="publisher"></label><br>
            <label for="ISBN">ISBN:<input type="number" name="ISBN"></label><br>
            <label for="language">Language:<input type="text" name="language"></label><br>
            <button type="submit">Submit</button>
        </form>
        <p>
            <%= errorMsg %>
        </p>
    </div>

    <%- include('../partials/footer') %>