<%- include('../partials/header') %>
    <% if(results !="" ){ %>
        <div>
            <% results.forEach(result=> { %>
                <h3>
                    <%= result.title %>
                </h3>
                <h3>
                    <%= result.author %>
                </h3>
                <% }); %>
                    <% } else { %>
                        <h3>No Search results found!</h3>
                        <% } %>
        </div>

        <%- include('../partials/footer') %>