<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>BookHub</title>
</head>

<nav id="navbar">
    <ul>
        <li><a href="/books">HOME</a></li>
        <!-- <li><a href="/books">ABOUT</a></li> -->

        <% if (user && user.email==='bookhubproject2@gmail.com' ) { %>
            <li><a href="/books/admin">EDIT BOOK</a></li>
            <li><a href="/books/new">NEW BOOK</a></li>
            <% } %>
                <% if (user) { %>
                    <li><a href="/logout">LOG OUT</a></li>
                    <% } else { %>

                        <li><a href="/auth/google" class="login">LOG IN</a></li>

                        <% } %>
                            <li>
                                <div class="oneLine">
                                    <form action="/books/search" method="POST"><input type="text" name="query"
                                            placeholder="Search..."><button>Search</button></form>
                                </div>
                            </li>
    </ul>
</nav>

<body>